body {
  background-color: #444;
  background-image: url(a98107822ff75988fcd520aa9a7d58e9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

